/* Dashboard Layout */
.dashboard {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  margin-left: 50px;
}

.group-main,
.group-events {
  flex: 1 0 100%;
}

@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
  }
  .group-main,
  .group-events {
    flex: 1;
  }
  .group-events {
    max-width:  30vw;
  }
}

/* Active and Previous Courses Section */
.active-courses,
.previous-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.active-courses a,
.previous-courses a {
  width: 100%;
  margin-bottom: 20px;
}

/* Upcoming Events Section */
.upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.upcoming-events a {
  width: 100%;
  margin-bottom: 20px;
}
