.left-menu {
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0px;
  transition: 0.3s ease;
  z-index: 50;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.025);
  padding: 2rem 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;

  &.expanded {
    width: 200px;
    transition: 0.3s ease;
  }

  .menu-item {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    color: black;

    svg {
      transition: 0.2s;
    }

    &:hover svg {
      fill: green;
      transition: 0.2s;
    }

    span {
      margin-left: 1rem;
    }
  }
}