.menu,
.menu * {
  box-sizing: border-box;
}
.menu {
  height: 84px;
  position: static;
}
.logo {
  width: 1922px;
  height: 84px;
  position: static;
}
.humburger {
  width: 1922px;
  height: 84px;
  position: absolute;
  right: 0%;
  left: -0.1%;
  width: 100.1%;
  bottom: 91.85%;
  top: 0.37%;
  height: 7.78%;
  overflow: visible;
}
.image-37 {
  position: absolute;
  right: 90.99%;
  left: 1.46%;
  width: 7.55%;
  bottom: 93.89%;
  top: 2.31%;
  height: 3.8%;
}
.search {
  width: 480px;
  height: 48px;
  position: static;
}
.group {
  width: 480px;
  height: 48px;
  position: absolute;
  right: 69.84%;
  left: 5.16%;
  width: 25%;
  bottom: 93.43%;
  top: 2.13%;
  height: 4.44%;
  overflow: visible;
}
.search-course-name {
  color: #27292d;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6000000238418579;
  position: absolute;
  right: 84.82%;
  left: 7.57%;
  width: 7.6%;
  bottom: 94.49%;
  top: 3.56%;
  height: 1.94%;
}
._2089805 {
  position: absolute;
  right: 92.97%;
  left: 6.2%;
  width: 0.83%;
  bottom: 94.88%;
  top: 3.64%;
  height: 1.48%;
}
.icon-awesome-bell {
  height: auto;
  position: absolute;
  right: 6.25%;
  left: 92.6%;
  width: 1.14%;
  bottom: 94.49%;
  top: 3.19%;
  height: 2.32%;
  overflow: visible;
}
.icon-material-email {
  height: auto;
  position: absolute;
  right: 3.95%;
  left: 94.8%;
  width: 1.25%;
  bottom: 94.76%;
  top: 3.46%;
  height: 1.77%;
  overflow: visible;
}
.ellipse-170 {
  height: auto;
  position: absolute;
  right: 6.29%;
  left: 93.29%;
  width: 0.42%;
  bottom: 96.2%;
  top: 3.06%;
  height: 0.74%;
  overflow: visible;
}
.icon-material-menu {
  height: auto;
  position: absolute;
  right: 96.51%;
  left: 2.08%;
  width: 1.41%;
  bottom: 94.26%;
  top: 4.07%;
  height: 1.67%;
  overflow: visible;
}
.name {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 1862px;
  top: 25px;
  overflow: visible;
}
