h2 {
  font-weight: 400;
  font-size: 24px;
}

.messages-container {
  display: flex;
  margin-top: 9rem;
  margin-left: 7rem;
  margin-right: 7rem;

  .rooms {
    flex-grow: 1;
    border-right: 1px solid var(--bg-color-tertiary);
    background-color: var(--bg-color-secondary);
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

    .roomsHeader {
      padding: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #cccccc8c;

      .add-new {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          background: transparent;
          border: none;
          margin-top: 0.5rem;

          svg {
            fill: var(--fill-color);
            transition: 0.2s;

            &:hover {
              cursor: pointer;
              transform: scale(1.05);
              transition: 0.2s;
            }
          }
        }
      }


      input {
        background-color: var(--bg-color);
        padding: 1rem 2rem;
        border: none;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.03);
        transition: 0.2s;
        width: 50%;
        font-family: 'Poppins', sans-serif;

        &:hover {
          transition: 0.2s;
        }

        &:focus-visible {
          outline: 2px solid rgba(128, 128, 128, 0.185);
        }
      }
    }

    .room {
      padding: 2rem;
      cursor: pointer;
      display: flex;
      transition: 0.2s;

      &:hover,
      &.selected {
        background-color: var(--bg-color-tertiary);
        transition: 0.2s;
      }

      &.selected {
        outline: 1px solid #cccccc8c;
      }

      .image {
        max-width: 70px;
        max-height: 70px;
        padding-right: 10px;
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .top-details {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          .time {
            font-size: small;
            color: #8998A980;
          }

        }

        .roomMessage {
          font-size: small;
          color: #8998A9;
        }

      }
    }
  }

  .selected-room {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color-secondary);
    padding-bottom: 1rem;

    .selectedRoomHeader {
      background-color: var(--bg-color-secondary);
      padding: 0 1.5rem;
      box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px;
    }

    .message-list {
      list-style: none;
      padding: 3rem;
      display: flex;
      flex-direction: column-reverse;
      height: 45vh;
      max-height: 45vh;
      overflow-y: scroll;

      li {
        margin-bottom: 10px;
        word-wrap: break-word;
        padding: 12px 15px;

        .sender {
          font-size: 0.8em;
          margin-right: 10px;
        }

        &.sent {
          background-color: #4caf50;
          color: #fff;
          align-self: flex-end;
          border-radius: 50px 100px 0px 50px;
          padding-right: 2rem;
          width: max-content;

          .sender {
            color: rgba(0, 0, 0, 0.336);
          }
        }

        &.received {
          background-color: var(--bg-color-tertiary);
          border-radius: 100px 50px 50px 0px;
          width: max-content;
          padding-left: 2rem;

          .sender {
            color: #0AB28B;
          }
        }
      }
    }


    .message-input {
      display: flex;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-top: 20px;

      input {
        flex-grow: 1;
        font-family: 'Poppins', sans-serif;
        padding-left: 3rem;
        border: 1px solid var(--bg-color-secondary);
        border-radius: 50px;
        background-color: var(--bg-color);
      }

      button {
        margin-left: 10px;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  // add styling here
}