.profile {
  padding: 7rem 8rem;
  display: flex;

  h3 {
    font-size: 23px;
    font-weight: 500;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 15vw;

    a {
      padding: 0.5rem;
      background-color: transparent;
      border-radius: 5px;
      transition: 0.2s;
      color: var(--text-color);

      &:hover {
        background-color: var(--bg-color-tertiary);
        transition: 0.2s;
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;

    .profile-picture {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 128px;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 50%;
        outline: 1px solid gray;
      }
    }


    .settings-module {
      background-color: var(--bg-color-secondary);
      padding: 2rem;
      margin: 1rem;
      border-radius: 10px;
      outline: 1px solid rgba(0, 0, 0, 0.185);

      input {
        background-color: var(--bg-color);
      }

      &.personal {
        display: flex;
        flex-direction: column;
      }

      &.password {
        display: flex;
        flex-direction: column;

        .pass-input {
          display: flex;
          justify-content: space-between;

          input {
            flex-grow: 1;
            margin-right: 1rem;
          }
        }
      }

      &.username {
        /* Added class for email settings */
        display: flex;
        flex-direction: column;

        .username-input {
          /* Added class for email input container */
          display: flex;
          justify-content: space-between;

          input {
            flex-grow: 1;
            margin-right: 1rem;
          }
        }
      }

      &.attending-events {
        h4 {
          font-weight: 500;
          font-size: 19px;
          margin-bottom: 0;
        }

        p {
          margin: 0;
        }

        i {
          opacity: 0.7;
        }
      }

      button {
        width: 15%;
        border: none;
        padding: 0.7rem;
        border-radius: 8px;
        color: white;
        font-weight: 500;
        background: linear-gradient(180deg, rgb(65, 115, 224) 0%, rgb(59, 167, 218) 100%);
        transition: 0.2s;
        font-family: 'Poppins', sans-serif;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
          width: 18%;
          transition: 0.2s;
        }
      }
    }
  }
}